server:
  port: ${PORT:8088}
  servlet:
    context-path: /crm
spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
  data:
    redis:
      url: ${REDIS_URL}
      password: ${REDIS_PASSWORD}
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    url: /openapi.yml
jwt:
  key: ${SECRET_KEY}
  refresh-key: ${REFRESH_KEY}
  access-duration: ${ACCESS_TOKEN_DURATION}
  refresh-duration: ${REFRESH_TOKEN_DURATION}
cloudinary:
  cloudinary-name: ${CLOUDINARY_NAME}
  cloudinary-api-key: ${CLOUDINARY_API_KEY}
  cloudinary-api-secret: ${CLOUDINARY_API_SECRET}
resend:
  api-key: ${MAIL_API_KEY}
  sender: ${MAIL_SENDER}
