
server:
  port: 8088
  servlet:
    context-path: /crm
spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: "jdbc:mysql://localhost:3306/crm"
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
