
server:
  port: ${PORT:8088}
  servlet:
    context-path: /crm
spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  key: ${SECRET_KEY}
  access_duration: ${ACCESS_TOKEN_DURATION}
cloudinary:
  cloudinary-name: ${CLOUDINARY_NAME}
  cloudinary-api-key: ${CLOUDINARY_API_KEY}
  cloudinary-api-secret: ${CLOUDINARY_API_SECRET}